/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

@font-face {
  font-family: "Rockybilly";
  src: url("Rockybilly.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("Inter.woff2") format("woff2"),
       url("Inter.woff") format("woff"),
       url("Inter.ttf") format("truetype");
}

body {
  font-size: 16px;
  margin: 0;
  display: flex;
  min-height: 100vh;  
  font-family: 'Inter', sans-serif;
  font-weight: 300;  
  background-color: #f0f0f0;
  color: #222; 
}

.left, .right {
  flex-shrink: 0;
}

.left {
  display: flex;  
  width: 60%;
  min-width: 450px;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  background: url("iceland.jpg") center/cover no-repeat;
  position: relative; 
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  min-width: 400px;
}

.middle {
  background-color: white;
  box-shadow: 0 5px 5px #e0e0e0;  
}

.logo {
  font: 1em "Rockybilly";
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 24px;
  width: 100%;
  position: relative;   
  top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  height: 4em;
  padding: 10px;
}

.upper {
  padding-left: 50px;
  max-width: 600px; 
}

input {
  width: 14rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Inter', sans-serif;
  font-variant-numeric: tabular-nums;
  border: 1px solid #E5E7EB;
  border-radius: 5px;
  padding: 3px 8px;  
  color: #444;
}

input:focus-visible {
  border: 1px solid #0041a3;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  outline: none;
}

input:invalid {
  border-color: rgb(177,0,0);
}

::placeholder {
  color: transparent;
}

input:focus::placeholder {
  color: gray;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #1a1a1a;
}

button {
  padding: 10px 40px;
  font-size: 1rem;
  color: white;
  background: #48556d;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.4);
}

button:hover {
  background: #3b4558;
  box-shadow: 0 4px 4px rgba(0,0,0,0.4);
}

.lower {
  padding-left: 50px;
  padding-top: 25px;
}

form#signup-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 600px;
  margin: 10px auto 30px 50px;
}

form#signup-form .form-field {
  flex: 1 1 100%;
}

@media (min-width: 700px) {
  form#signup-form .form-field {
    flex: 1 1 calc(50% - 1rem);  
  }
  form#signup-form h4 {
    flex: 1 1 100%; 
    margin: 10px 0;   
  } 
}

h2, h4 {
  font-weight: 400;
  color: #444;
}

.bg-credits {
  color: #eee;
  position: absolute;   
  bottom: 1em;
  font-size: 0.8em;
}

.bg-credits a {
  color: #eee;
}

